/*--------------------------------------------------------------

            DOM ELEMENTS

--------------------------------------------------------------*/
html{
  font-size: 1vw;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: content-box !important;
}
.nav-item{
  padding: 0.5vw 1vw;
}
.navbar-brand{
  font-size: 1.3vw;
}

@media (max-width: 768px) {
  html{
    font-size: 1.2vw;
  }
  .navbar-brand{
    font-size: 2.5vw;
  }
  .navbar{
    font-size: 1.5vw;
  }
}
@media (max-width: 576px){
  html{
    font-size: 2.8vw;
  }
  .navbar-brand{
    font-size: 5vw;
  }
  .navbar{
    font-size: 3vw;
  }
}

.parallaxWindow {
  height: 30vw;
  overflow: hidden;
  z-index: 1;
}

.bgParallaxShadow{
  background-size: cover;
  height: 30vw;
  width: 100vw;
  position: absolute;
  z-index: 2;
}
#bg1{
  width: 100%;
}
@media (max-width: 576px){
  .parallaxWindow{
    height: 70vw;
  }
  .bgParallaxShadow{
    height: 70px;
  }
  .bgParallaxShadow{
    height: 70vw;
  }
  #bg1{
    height: 30%;
    width: auto;
  }
}


.photoBorder{
  width: 15vw;
  height: 15vw;
  margin: 3vw 37vw;
  border-radius: 100%;
  padding: 1vw;
  background-color: #bf4dbf;
  z-index: 3;
}
.photoContainer{
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
}
.photoContainer img{
  width: 100%;
  border-radius: 50%;
}
.nameContainer{
  position: absolute;
  width: 13vw;
  height: 13vw;
  border-radius: 100%;
  background-color: #bf4dbf;
  margin-top: -8vw;
  margin-left: 11vw;
  padding: 3.3vw 0.5vw;
  font-size: 2em;
  z-index: -1;
  color: #fff;
}
.mailBlock{
  position: absolute;
  bottom: 1vw;
  right: 2vw;
  z-index: 10;
  font-size: 1.3em;
}
.mailBlock a{
  color: #fff;
}
@media (max-width: 768px) {
  .nameContainer{
    font-size: 2em;
    padding: 2.8vw 0.5vw;
  }
}
@media (max-width: 576px){
  .photoBorder{
    width: 30vw;
    height: 30vw;
    margin: 15vw 20vw;
  }
  .nameContainer{
    width: 30vw;
    height: 30vw;
    margin-top: -20vw;
    margin-left: 22vw;
    font-size: 2em;
    padding: 6.5vw 0.7vw;
  }
  .mailBlock{
    font-size: 1.5em;
  }
}


.works{
  padding: 3vw;
  background-color: #fcfcfc;
}
.cardContainer{
  padding: 2vw 2vw;
}
.cardContainer a{
  text-decoration: none;
}
.card{
  border: solid 1px #000;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(189,189,189,1);
  -moz-box-shadow: 4px 4px 5px 0px rgba(189,189,189,1);
  box-shadow: 4px 4px 5px 0px rgba(189,189,189,1);
  cursor: pointer
}
.cardHeader{
  height: 12vw;
  overflow: hidden;
}
.cardHeader img{
  width: 100%;
  min-height: 12vw;
}
.cardTitleSquare{
  padding: 1.8vw;
  background-color: #bf4dbf;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}
.cardDescription{
  color: #000;
  padding: 1vw 2vw;
  font-size: 1.05em;
  line-height: 30px;
}

@media (max-width: 576px){
  .cardContainer{
    padding: 5vw 10vw;
  }
  .cardHeader{
    height: 30vw;
  }
  .cardTitleSquare{
    padding: 4vw;
  }
  .cardDescription{
    padding: 2vw 4vw;
  }
}


